@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: 'Anonymous Pro', monospace;  
  text-align: center;
}

h1 {
  text-align: inherit;
  text-shadow: grey;
  font-family: inherit;
}

button{
  font-family : inherit;
  font-size: 20px;
}

.flags img {
  width: 125px;
}

.flags button {
  width:250px;
  margin:5px;
}

.question_area p{
  font-size: 25px;
  padding: 10px;
  margin: 10px 0px;
}

.score_area {
  font-weight: bolder;
}

a{
  color:lightskyblue;
}

#signout {
  border: none;
  background-color:rgb(88, 88, 88);
  color: lightskyblue;
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  padding: 0px 6px;
  text-decoration: underline lightskyblue;
}

#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(88, 88, 88);
  display: block;
}

li {
  display: block;
  padding: 14px 16px;
  
}

#navbar li {
  display: inline-block;
  width: 24%;
  margin: auto;
  padding: 16px 1px;
}

.usertext{
  display: inline-block;
}

#gametext{
  float: right;
}

ul#welcome {
  background-color: #282c34;
  display:block;
  padding: 0;
}

#welcome li{
  float: none;
}

input[type=text], input[type=password] {
  background-image: linear-gradient(#282c34,gray);
  border: none;
  color: white;
  border-bottom: 2px solid lightslategrey;
  display:block;
  align-content: center;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.confetti{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_area{
  height: 25px;
}

#menuIcon {
  display:none;
}

#responsiveNav {
  display: none;
}

@media screen and (min-width: 626px) {
  .mobileNavbarClosed, .mobileNavbarOpen, .mobileNavbarOpen li, .mobileNavbarClosed li{
    display: none;
  }
}

@media screen and (max-width: 625px) {
  /** mobile device style changes */
  body{
    padding: 0px;
    margin: 0;
    padding: 0;
  }

  .flags_display {
    column-count: 2;
    justify-items:center;
    width: 75%;
    margin: auto;
    text-align: center;
  }

  .flags button{
    width: 100%;
    max-width: 250px;
  }
  .flags img{
    width: 85%;
    max-width: 125px;
  }
  .question_area p {
    font-size: 20px;
  }

  .answer_area p {
    font-size: 14px;
  }

  #navbar{
    display: none;
  }

  .mobileNavbarOpen {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow:hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 88);
  }

  .mobileNavbarOpen a {
    padding: 22px;
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
  }

  .mobileNavbarOpen #signout {
    padding: 22px;
    height: unset;
    text-align: center;
    border-top: 2px black solid;
  }

  .mobileNavbarOpen a:hover {
    background-color: rgb(122, 122, 122);
  }

  .mobileNavbarOpen #signout:hover {
    background-color: rgb(122, 122, 122);
  }

  .mobileNavbarClosed {
    height: 64px;
    margin: 0;
    background-color: rgb(88, 88, 88);
  }

  
  .mobileNavbarClosed a {
    display: none;
  }

  .mobileNavbarClosed #signout {
    display: none;
  }

  #menuIcon{
    display: flex;
    flex-grow: 1;
    background-color: inherit;
    max-height: 40px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 2px;
  }

  #menuIcon:hover{
    cursor: pointer;
  }

}