@import url(https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap);


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F3F3F3  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #932432  ;
}

.App-link {
  color: #932432;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Homepage Styling for Typing Animation */
@media screen and (min-width: 626px) {
  .typewriter h1{
    color: #932432;
    line-height: 2em;
    font-size: 70px;
    font-weight: bolder;
    overflow: hidden;
    width: auto;
    display: inline-block;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
         blink-caret .75s step-end infinite;
  }
  @keyframes typing{
    from {max-width: 0}
    to {max-width: 100%}
  }

  @keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: #932432    }
  }
  .flagshome{
    line-height: 1em;
    font-size: 30px;
  }

}

/* Game Mode Display Styling*/
.mode_section p{
  font-size: 32px;
}

.mode_section p2{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  white-space: pre-line
}
.row {
  display: flex;
  line-height: 0.5em;
    font-size: 30px;
}

.column {
  flex: 50%;
  line-height: 1em;
  font-size: 30px;
}

/* Clear floats after the columns */
.mode_section:after {
  content: "";
  display: table;
  clear: both;
}

.row button {
  border-color: #283747;
  cursor: pointer;
  pointer-events: auto;
  color:#932432;
  box-shadow: 0 0 40px 40px #F3F3F3 inset, 0 0 0 0 #F3F3F3;
}
.row button:hover {
  box-shadow: 0 0 10px 0 #DE354C inset, 0 0 10px 4px #DE354C;
  
}
.buttondivider{
  width:50px;
  height:20px;
}

body {
  background-color: #F3F3F3  ;
  color: #3C1874;
  padding: 40px;
  font-family: 'Karla', sans-serif; 
  text-align: center;
}

h1 {
  text-align: inherit;
  text-shadow: grey;
  font-family: inherit;
}

button{
  font-family : inherit;
  font-size: 20px;
}

.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

.flags img {
  width: 125px;
}

.flags button {
  width:250px;
  margin:5px;
}

.question_area p{
  font-size: 25px;
  padding: 10px;
  margin: 10px 0px;
}

.score_area {
  font-weight: bolder;
}

a{
  color: #932432;
}

.results_section{
  font-size: 30px;
}

.results_section button{
  font-size: 20px;
}

#signout {
  border: none;
  background-color: #F3F3F3  ;
  color: l#F3F3F3;
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  padding: 0px 6px;
  text-decoration: underline #F3F3F3;
}

#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  display: block;
}

li {
  display: block;
  padding: 14px 16px;
  
}

#navbar li {
  display: inline-block;
  width: 24%;
  margin: auto;
  padding: 16px 1px;
}

.usertext{
  display: inline-block;
}

#gametext{
  float: right;
}

ul#welcome {
  background-color: #F3F3F3  ;
  display:block;
  padding: 0;
}

#welcome li{
  float: none;
  display:inline-block;
}

input[type=text], input[type=password] {
  background-image: linear-gradient(#282c34,gray);
  border: none;
  color: white;
  border-bottom: 2px solid lightslategrey;
  display:block;
  align-content: center;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}


.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.confetti{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_area{
  height: 25px;
}

#menuIcon {
  display:none;
}

#responsiveNav {
  display: none;
}

@media screen and (min-width: 626px) {
  .mobileNavbarClosed, .mobileNavbarOpen, .mobileNavbarOpen li, .mobileNavbarClosed li{
    display: none;
  }
}

@media screen and (max-width: 625px) {
  /** mobile device style changes */
  body{
    padding: 0px;
    margin: 0;
    padding: 0;
  }

  .flags_display {
    column-count: 2;
    justify-items:center;
    width: 75%;
    margin: auto;
    text-align: center;
  }

  .flags button{
    width: 100%;
    max-width: 250px;
  }
  .flags img{
    width: 85%;
    max-width: 125px;
  }
  .question_area p {
    font-size: 20px;
  }

  .answer_area p {
    font-size: 14px;
  }

  #navbar{
    display: none;
  }

  .mobileNavbarOpen {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow:hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 88);
  }

  .mobileNavbarOpen a {
    padding: 22px;
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
  }

  .mobileNavbarOpen #signout {
    padding: 22px;
    height: unset;
    text-align: center;
    border-top: 2px black solid;
  }

  .mobileNavbarOpen a:hover {
    background-color: rgb(122, 122, 122);
  }

  .mobileNavbarOpen #signout:hover {
    background-color: rgb(122, 122, 122);
  }

  .mobileNavbarClosed {
    height: 64px;
    margin: 0;
    background-color: rgb(88, 88, 88);
  }

  
  .mobileNavbarClosed a {
    display: none;
  }

  .mobileNavbarClosed #signout {
    display: none;
  }

  #menuIcon{
    display: flex;
    flex-grow: 1;
    background-color: inherit;
    max-height: 40px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 2px;
  }

  #menuIcon:hover{
    cursor: pointer;
  }

}