@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: 'Anonymous Pro', monospace;  
  text-align: center;
}

h1 {
  text-align: inherit;
  text-shadow: grey;
  font-family: inherit;
}

button{
  font-family : inherit;
  font-size: 20px;
}

.flags img {
  width: 125px;
}

.flags button {
  width:250px;
  margin:5px;
}

.question_area p{
  font-size: 25px;
}

a{
  color:lightskyblue;
}

#signout {
  border: none;
  background-color:rgb(88, 88, 88);
  color: lightskyblue;
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  padding: 0px 6px;
  text-decoration: underline lightskyblue;
}

#usertext{
  text-align: left;
}

#gametext{
  float: right;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(88, 88, 88);
  display: block;
}

li {
  display: block;
  padding: 14px 16px;
  float: left;
}

ul#welcome {
  background-color: #282c34;
  display:block;
}

#welcome li{
  float: none;
}

input[type=text], input[type=password] {
  background-image: linear-gradient(#282c34,gray);
  border: none;
  color: white;
  border-bottom: 2px solid lightslategrey;
  display:block;
  align-content: center;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.confetti{
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_area{
  height: 25px;
}
